<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>884478687554-ejogmv8lvved6agq55co2iid8m5nf5ep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884478687554-ejogmv8lvved6agq55co2iid8m5nf5ep</string>
	<key>API_KEY</key>
	<string>AIzaSyDa91SM9N7Tu_-DqIg4mvxJJA9p5s8jRT8</string>
	<key>GCM_SENDER_ID</key>
	<string>884478687554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hyoungsun.VTalk</string>
	<key>PROJECT_ID</key>
	<string>vtalk-cdaf8</string>
	<key>STORAGE_BUCKET</key>
	<string>vtalk-cdaf8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884478687554:ios:9e62f069e9d59f6b</string>
	<key>DATABASE_URL</key>
	<string>https://vtalk-cdaf8.firebaseio.com</string>
</dict>
</plist>